.badge {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75em;
    font-weight: 400;
    border: 0;
    border-radius: 2em;
    display: inline-block;
    line-height: 0;
    padding: 1em;
  }
  .badge--red {
    color: white;
    background-color: crimson;
  }
  .badge--orange {
    color: black;
    background-color: darkorange;
  }
  .badge--yellow {
    color: black;
    background-color: gold;
  }
  .badge--green {
    color: white;
    background-color:rgb(104, 190, 5);
  }
  .badge--blue {
    color: white;
    background-color: #1ea7fd;
  }
  .badge--burgundy {
    color: white;
    background-color: darkred;
  }